.u-section-1 .u-sheet-1 {
  min-height: 828px;
}

.u-section-1 .u-text-1 {
  width: 203px;
  margin: 24px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  margin-top: 67px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-group-1 {
  width: 423px;
  min-height: 191px;
  margin: 45px auto 38px 60px;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: 0 68px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-align: center;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-align: center;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-align: center;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1 .u-gallery-1 {
    height: 349px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-text-2 {
    margin-right: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1069px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-2 {
    margin-right: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-gallery-1 {
    height: 802px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-1 .u-gallery-1 {
    height: 505px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}