.u-section-1 .u-sheet-1 {
  min-height: 2849px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 942px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 451px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 664px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 723px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 834px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 869px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 989px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 917px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 742px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 251px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 464px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 523px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 634px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 669px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 789px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 717px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 522px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 31px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 244px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 303px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 414px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 449px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 569px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 497px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 342px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 64px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 123px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 269px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 389px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 142px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 34px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 117px;
  }
}